@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');

nav{
    background-color:#463F73 !important ;
}
/* .container-fluid{
    background-color: #463F73;
} */

.navbar {
    
    font-size: x-large;
}
.bg-body-tertiary{
    background-color:  none !important ;   
}


.offPage{
    color: whitesmoke ;
  
}
.navbar-brand{
    color: whitesmoke !important;
}
.nav-link{
    color: pink!important;
    
}
.nav-link:hover{
    color: #D8EDF2 !important;
    border-bottom: #D8EDF2 solid 2px ;
    overflow: hidden;
}

.active{
    color: #D8EDF2 !important   ;
    border-bottom:#D8EDF2 2px solid !important ;
    

}